@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
/* @custom-variant dark (&:where(.dark, .dark *)); */

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}
