@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* Remove webkit "X" from input type "search" */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}
